@import '../../style.scss';

.card {
    border-radius: 0;
    border: 1px solid $colorDarkGray;
    width: '18rem';
    .card-body {
        background-color: $colorVeryLightGray;
        img {
            border: 2px solid $colorMauve;
            border-radius: 0;
        }
        a {
            text-decoration: none;
            color: $colorDarkGray;
        }
        button {
            display: block;
            border-radius: 0;
            font-family: $fontSubHeader;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        .btn-primary {
            background-color: $colorMauve;
            color: $colorDarkGray;
            border: 1px solid $colorDarkGray;
            &:hover {
                background-color: $colorDarkMauve;
                color: $colorDarkGray;
                border: 1px solid $colorDarkGray;
            }
        }
        .btn-secondary {
            background-color: $colorLightGray;
            color: $colorDarkGray;
            border: 1px solid $colorDarkGray;
            &:hover {
                background-color: $colorGray;
                color: $colorDarkGray;
                border: 1px solid $colorDarkGray;
            }
        }
    }
}
