@import '~bootstrap/scss/bootstrap';
@import './style.scss';

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 25px;
    text-align: center;
    p {
        font-family: $fontParagraph;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: $fontHeader;
    }
    background-color: $colorVeryLightGray;
}