$colorVeryLightGray: #f2f2f2;
$colorLightGray: #d9d9d9;
$colorGray: #c0c0c0;
$colorDarkGray: #0d0d0d;
$colorDarkNavy: #0f1b27;
$colorMauve: #bfafaf;
$colorDarkMauve: #9d8585;
$fontHeader: 'Cormorant Garamond', serif;
$fontSubHeader: 'Montserrat', sans-serif;
$fontParagraph: 'Source Sans Pro', sans-serif;